<%- include("partials/header") %>

<div class="container">
    <p> <h1><b><%=campgrounds.name %></b></h1> </p> 
    <img src="<%=campgrounds.image%>" alt="no imamge">
    <p> <h4><%=campgrounds.description %></h4> </p>

</div>

<%- include("partials/footer") %>